* {
    margin: 0;
    padding: 0;
}

/* sherad style */

.disply_flex {
    display: flex;
}

.container {
    max-width: 1216px;
    margin: 0 auto;
}

/* header */

.header_logo-text {
    color: #FF6600;
    font-weight: 700;
    font-size: 2rem;
}

/* Hamburger */
.hamburger {
    display: none;
    font-size: 1.375rem;
    cursor: pointer;
}

/* .hamburger {
    display: block;
} */

.header {
    background-color: #FFFFFF;
}

.header_nav {
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header_menu-item {
    list-style: none;
}



.header_menu-title {
    text-decoration: none;
    margin-left: 25px;
    font-size: 1rem;
    color: #070707;
}

.header_cta-btn {
    background-color: #FF6600;
    color: white;
    font-size: 1rem;
    border-style: none;
    padding: 14px 26px;
    border-radius: 30px;
}


/* hero  */

.hero {
    background-image: url("../assets/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.hero_badge {
    position: relative;
}

.hero_avatar1 {
    position: absolute;
    z-index: 1;
}

.hero_avatar2 {
    position: absolute;
    z-index: 2;
    margin-left: 36px;
}


.hero_avatar3 {
    position: absolute;
    z-index: 3;
    margin-left: 66px;
}

.hero_content {
    max-width: 689px;
    padding-top: 120px;
    padding-bottom: 10px;
}

.hero_title {
    font-size: 4rem;
    font-weight: 600;
    color: white;
    padding-top: 5px;
}


.hero_badge_title {
    background-color: #F5F7F9;
    color: #242A33;
    font-size: 0.75rem;
    border-radius: 25px;
    text-align: center;
    padding: 14px 26px;
    z-index: 4;
    margin-left: 96px;

}

.hero_subtitle {
    font-size: 1rem;
    color: white;
    padding-top: 30px;
    padding-bottom: 20px;
}

/* Product */

.product_container {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 64px;
    padding-bottom: 40px;
}

.product_images {
    max-width: 560px;
    text-align: center;
}

.product_images_bg {
    background-color: #F8FAFB;
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 8px;
    padding: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

.product_images_bg:hover {
    background-color: #6B2B00;
    border-color: #6B2B00;
    transform: scale(1.05);
}

/* Main product image */
.product_image-main {
    width: 100%;
    object-fit: cover;
    background-color: #FFD0B0;
    border-radius: 12px;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid #eee;
    margin-bottom: 20px;
    transition: 0.3s ease;
}

/* Thumbnail gallery */
.product_image-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 12px;
}

.noseclip_product {
    align-items: center;
    justify-items: center;
}



.product_rating {
    font-size: 1rem;
    color: #1D1F2C;
    align-items: center;
}

.product_rating_num {
    color: #000000;
    font-weight: 700;
    font-size: 1.125rem;
    margin-left: 8px;
}

.product_title {
    color: #12151A;
    font-weight: 700;
    font-size: 2.5rem;
    padding-top: 8px;
}

.product_price {
    color: #6B2B00;
    font-weight: 700;
    font-size: 3rem;
    padding-top: 8px;
}

.product_price_old {
    color: #12151A;
    font-size: 1.5rem;
}

.product_save {
    margin-left: 8px;
    background-color: #FF6600;
    color: white;
    text-align: center;
    padding: 10px 16px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.75rem;
}

.product_subtitle {
    font-size: 2rem;
    font-weight: 600;
    color: #12151A;
    padding-top: 24px;
    padding-bottom: 12px;
}

.product_description {
    font-size: 1rem;
    color: #1D1F2C;
    padding-top: 12px;
    padding-bottom: 14px;
}

.product_features {
    padding-top: 16px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    row-gap: 16px;
    padding-bottom: 26px;
}

.product_feature {
    gap: 8px;
    color: #242A33;
    font-size: 1.125rem;
    padding-bottom: 16px;

}

.product_btn {
    background-color: #FF6600;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 16px 26px;
    width: 100%;
}

.product_extra-gallery {
    padding-top: 24px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 24px;
}

.product_info {
    width: 100%;
    max-width: 500px;
    padding-top: 24px;
}

.product_info-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 0;
    font-size: 15px;
    color: #4A4C56;
    border-bottom: 2px solid #FFD0B0;
    cursor: pointer;
}


.arrow {
    font-size: 1rem;
    color: #4A4C56;
    transition: transform 0.3s ease;
}

.product_info-item:hover .arrow {
    transform: rotate(-90deg);
    color: #FF6600;
}

.product_info-title {
    color: #4A4C56;
    font-size: 0.938rem;
}

/* Responsive */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .header_nav {
        margin: 0 10px;
    }

    .header_menu-list {
        position: absolute;
        top: 60px;
        right: 0;
        background-color: white;
        flex-direction: column;
        gap: 15px;
        width: 200px;
        padding: 20px;
        display: flex;
        transform: translateX(100%);
        opacity: 0;
        pointer-events: none;
        transition: transform 0.4s ease, opacity 0.3s ease;
        z-index: 5;
        margin-top: 18px;
    }

    .hamburger i {
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    
    .hamburger.active i::before {
        content: "\f00d";

    }

    .header_menu-list.active {
        transform: translateX(0);
        opacity: 1;
        pointer-events: auto;
    }


    .container {
        margin: 0 10px;
    }

    .header_menu-list.active {
        display: flex;
    }

    .hero_content {
        max-width: 100%;
        text-align: center;
        padding-top: 60px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .hero_title {
        font-size: 2rem;
    }

    .hero_subtitle {
        font-size: 0.9rem;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .hero_avatar1 {
        position: absolute;
        left: 0;
        z-index: 1;
    }

    .hero_avatar2 {
        position: absolute;
        left: 36px;
        z-index: 2;
    }

    .hero_avatar3 {
        position: absolute;
        left: 66px;
        z-index: 3;
    }

    .hero_badge_title {
        background-color: #F5F7F9;
        color: #242A33;
        font-size: 0.75rem;
        border-radius: 25px;
        text-align: center;
        padding: 14px 26px;
        margin-left: 96px;
        z-index: 4;
        white-space: nowrap;
    }


    .hero_badge {
        justify-content: center;
        margin-bottom: 20px;
        align-items: center;
    }


    .hero_badge_title {
        font-size: 0.65rem;
        padding: 8px 14px;
        margin-left: 65px;
    }

    .hero_avatar1 {
        margin-left: 55px;
    }

    .hero_avatar2 {
        margin-left: 50px;
    }

    .hero_avatar3 {
        margin-left: 45px;
    }

    .product_container {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        padding-top: 40px;
        padding-bottom: 20px;
    }

    .product_images {
        max-width: 100%;
        text-align: center;
    }

    .product_image-gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 8px;
        margin-left: 30px;
    }

    .product_extra-gallery {
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    .product_features {
        grid-template-columns: 1fr;
        row-gap: 12px;
    }

    .product_title {
        font-size: 1.75rem;
        
    }

    .product_price {
        font-size: 1.8rem;
        
    }

    .noseclip_product {
        margin-top: 10px;
    }

    .product_save {
        font-size: 0.65rem;
        padding: 6px 12px;
    }

    .product_btn {
        font-size: 0.9rem;
        padding: 14px 20px;
    }

    .product_info {
        max-width: 100%;
    }

    .product_info-item {
        font-size: 0.9rem;
    }
}